
    <div id="animation" class="container-fluid">
        <img class="fruit" src="./img/2000px-Emojione_1F350.svg.png" width="32" height="32" alt="" id="i1">
        <img class="fruit" src="./img/green-304556_960_720.png" width="32" height="32" alt="" id="i2">
        <img class="fruit" src="./img/Twemoji2_1f34e.svg.png" width="32" height="32" alt="" id="i3">
        <img class="fruit" src="./img/Twemoji_1f34d.svg.png" width="32" height="32" alt="" id="i4">
        <img class="fruit" src="./img/Twemoji_1f351.svg.png" width="32" height="32" alt="" id="i5">
        <img class="fruit" src="./img/2000px-Emojione_1F350.svg.png" width="32" height="32" alt="" id="i6">
        <img class="fruit" src="./img/green-304556_960_720.png" width="32" height="32" alt="" id="i7">
        <img class="fruit" src="./img/Twemoji2_1f34e.svg.png" width="32" height="32" alt="" id="i8">
        <img class="fruit" src="./img/Twemoji_1f34d.svg.png" width="32" height="32" alt="" id="i9">
        <img class="fruit" src="./img/Twemoji_1f351.svg.png" width="32" height="32" alt="" id="i10">
        <img class="fruit" src="./img/bananas-311788_960_720.png" width="32" height="32" alt="" id="i11">
        <img class="fruit" src="./img/bananas-311788_960_720.png" width="32" height="32" alt="" id="i12">
    </div>
    <script>
        $(document).ready(function(){
            function resetanim() {
                var fruits = document.getElementsByClassName("fruit");
                Array.prototype.forEach.call(fruits, function (elm) {
                    var newone = elm.cloneNode(true);
                    elm.parentNode.replaceChild(newone, elm);
                });
               
            }
            if (typeof (Worker) !== "undefined") {
                w = new Worker("gifruitworker.js");
            }
            w.addEventListener('message', function (e) {
                resetanim()
            }, false);
        })
    </script>
