#animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
}

#one {
    position: absolute;
    animation: rotate 2.1s infinite;
  
}

#two {
    position: absolute;
    animation: rotate 2.2s infinite;

}

#three {
    position: absolute;
    animation: rotate 2.3s infinite;
   
}

#four {
    position: absolute;
    animation: rotate 2.4s infinite;
  
}

#five {
    position: absolute;
    animation: rotate 2.5s infinite;

}

#six {
    position: absolute;
    animation: rotate 2.6s infinite;
    
}



#two2 {
    position: absolute;
    animation: rotate2 2.2s infinite ;
    animation-direction: reverse;

}

#three3 {
    position: absolute;
    animation: rotate2 2.3s infinite ;
    animation-direction: reverse;
   
}

#four4 {
    position: absolute;
    animation: rotate2 2.4s infinite ;
    animation-direction: reverse;
  
}

#five5 {
    position: absolute;
    animation: rotate2 2.5s infinite ;
    animation-direction: reverse;

}

#six6 {
    position: absolute;
    animation: rotate2 2.6s infinite ;
    animation-direction: reverse;
    
}
#one1 {
    position: absolute;
    animation: rotate2 2.1s infinite ;
    animation-direction: reverse;
  
}
@keyframes rotate {
    0% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(0deg)   translate(0px, 0px);
    }
    25% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate()    translate(25px, 25px);
    }
    50% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(180deg)  translate(50px, 50px);
    }
    60% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: rotate()  translate(25px, 25px);
    }
    100% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(360deg)  translate(0px, 0px);
    }
}

@keyframes rotate2 {
    0% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(0deg)   translate(0px, 0px);
    }
    20% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate()    translate(25px, 25px);
    }
    50% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(-180deg)  translate(50px, 50px);
    }
    80% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: rotate()  translate(25px, 25px);
    }
    100% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(-360deg)  translate(0px, 0px);
    }
}

