#animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
}

@iterations: 6;
@iterations2: 12;
.mixin-loop (@i) when (@i > 0) {
    #i@{i} {
        position: absolute;
        animation: rotate (2.0s+(@i/10)) infinite;
    }
    .mixin-loop(@i - 1);
}

.mixin-loop(@iterations);
.mixin-loop2 (@i) when (@i > 6) {
    #i@{i} {
        position: absolute;
        animation: rotate2 (1.4s+(@i/10)) infinite;
        animation-direction: reverse;
    }
    .mixin-loop2(@i - 1);
}
.mixin-loop2(@iterations2);
@keyframes rotate {
    0% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(0deg) translate(0px, 0px);
    }
    25% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate() translate(25px, 25px);
    }
    50% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(180deg) translate(50px, 50px);
    }
    60% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: rotate() translate(25px, 25px);
    }
    100% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(360deg) translate(0px, 0px);
    }
}

@keyframes rotate2 {
    0% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(0deg) translate(0px, 0px);
    }
    20% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate() translate(25px, 25px);
    }
    50% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(-180deg) translate(50px, 50px);
    }
    75% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: rotate() translate(25px, 25px);
    }
    100% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: rotate(-360deg) translate(0px, 0px);
    }
}